# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# User Account Info
/configs/server_*/account_config.json
/logs/
/source_codes/source_code_character_*
/configs/server_*/character_config.json

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
config/*.json
!config/default_tags.json
*.log
.DS_Store 
